<footer class="footer" style="background-color: rgb(31,29,30);">
    <div class="container">
        <div class="content has-text-centered" style="font-size: 10pt;">
            <nav class="columns">
                <div class="column">
                    <nav class="columns">
                        <div class="column has-text-white">
                            <p>
                                Copyright &copy; 2021 Acalogs. </br>
                                All rights reserved.
                            </p>
                        </div>
                    </nav>
                </div>
                <div class="column">
                    <nav class="columns is-desktop">
                        <div class="column has-text-white">
                            <a href="/" class="has-text-white">HOME</a>
                        </div>
                        <div class="column has-text-white">
                            <a href="/about" class="has-text-white">ABOUT</a>
                        </div>
                        <div class="column has-text-white">
                            <a href="https://www.youtube.com/channel/UCkYeSrGrBuMgk5PczSKl5eg" class="has-text-white">YOUTUBE</a>
                        </div>
                        <div class="column has-text-white">
                            <a href="https://www.instagram.com/acalogs/" class="has-text-white">INSTAGRAM</a>
                        </div>
                        <div class="column has-text-white">
                            <a href="https://cafe.naver.com/acalogs" class="has-text-white">NAVERCAFE</a>
                        </div>
                        <!--<div class="column has-text-white">
                            <a href="/board" class="has-text-white">BOARD</a>
                        </div>-->
                    </nav>
                </div>
                <div class="column">
                    <div class="columns">
                        <div class="column has-text-white">
                            <p>
                                Made By <a class="has-text-white">junha Hwang</a>. </br>
                                e-mail: ecrire06@korea.ac.kr
                            </p> 
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</footer>